.git
.gitignore
**/__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
.env
.env.*
pytest_cache/
.pytest_cache/
.idea/
.vscode/
.DS_Store
build/
node_modules/
media/*
!media/.gitkeep
staticfiles/
uv.lock
